@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Creator of this Application:<br />
    Bartosz Strachowski<br />
</address>

<address>
    <strong>Questions? Feel free to ask:</strong> <a href="mailto:bstrachowski@gmail.com">bstrachowski@gmail.com</a><br />
</address>
