@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        <h2>Application uses</h2>
        <ul>
            <li>Sign Up - to get access to everything this site offers</li>
            <li>You can search for every job offers that you want</li>
            <li>You can search for every company that supports my site</li>
        </ul>
    </div>
</div>
